.idea

*~
*.orig
*.swp

*.py[cod]

src/version.pxi
MANIFEST
build/
dist/
rank_filter.egg-info/
.eggs/
rank_filter.so

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake

bin/cxxtest.out
src/rank_filter.cpp
